attrs==22.2.0
beautifulsoup4==4.11.2
certifi
charset-normalizer==3.0.1
colorama==0.4.6
exceptiongroup==1.1.0
filelock==3.9.0
gdown==4.6.4
huggingface-hub==0.12.1
idna==3.4
iniconfig==2.0.0
numpy==1.19.5
overrides==3.1.0
packaging==23.0
phonlp==0.3.4
pluggy==1.0.0
py-vncorenlp==0.1.4
pyjnius==1.4.2
PySocks==1.7.1
pytest==7.2.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
six==1.16.0
soupsieve==2.4
tokenizers==0.13.2
tomli==2.0.1
torch==1.13.1
tqdm==4.64.1
transformers==4.26.1
typing_extensions==4.5.0
urllib3==1.26.14
wincertstore==0.2
